# Technical Challenge ! Custiomers and Orders - The lifeblood of any business!

This notebook depends on two data files: customers.scv and orders.csv. These files are hosted in the cloud (or Github), so for simplicity, we are providing you with the code to download and save the two files in a folder called 'sample_data' which lives within this notebook session (not on your local computer nor Google Drive).

![sample_data folder in notebook session](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/sample_data_folder.png)

Please execute the first code snippet before moving to the rest of the exercise as this code will import the data from the files for you to be able to execute the rest of the exercise.

Remember as we said in the previous lecture, you have to save this notebook into your Google Drive by going to menu File/Save a Copy In Drive, or clicking in the button "Copy to Drive". This way, you will not lose any work you've done and the file will persist with your latest changes in your Google Drive. Also we recommend you to rename your .ipynb in your Google Drive, so you can easily find it in the future.

In [2]:
import requests

def import_data_files():
  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
  with open('./sample_data/customers.csv', 'wb') as f:
    f.write(r.content)

  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv')
  with open('./sample_data/orders.csv', 'wb') as f:
    f.write(r.content)

import_data_files()
print("Customers and orders CSV files have been added './sample_data'")

Customers and orders CSV files have been added './sample_data'

# Exercise 1: Processing Customers data (difficulty medium)

The sample customer data in 'customers.csv' file has just 5 columns: CustomerId, First Name, Last Name, City and State

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/customers.png)

We strongly recommend that you complete from the [Prep Course: Intro to Python](https://colab.research.google.com/github/anyoneai/notebooks/blob/main/python3_crash_course.ipynb) the following section:
- Section 7: File I/O (to understand how to read CSV file)
- Section 6: For Loop (to navigate the contents of the CSV file)
- Section 5: Tuples, Lists, and Dictionaries (to manipulate the data of the CSV file)

With this, we hope you can complete this exercise successfully. Although if you want to solve this with libraries or any other way, you are welcome to do it your way.

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://github.com/anyoneai/notebooks/blob/main/customers_and_orders/data/customers.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, keep in mind that data might not be clean and you might have to figure out how to deal with that data from the code, without having to modify the data source.

Below are the 5 questions you'll have to answer to pass the evaluation:

**Question 1:** How many customers are in the file?
(as help, we have added some comments and starter code to help you structure the solution)

In [71]:
import pandas as pd

df_costumers = pd.read_csv('./sample_data/customers.csv')

df_duplicates = df_costumers.duplicated()
df_costumers.info()
print()
df_duplicates.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  602 non-null    int64
 1   FirstName   602 non-null    object
 2   LastName    602 non-null    object
 3   City        602 non-null    object
 4   State       602 non-null    object
dtypes: int64(1), object(4)
memory usage: 23.6+ KB

False    602
Name: count, dtype: int64

In [72]:
df_costumers.rename(columns={'CustomerID': 'customer_id', 'FirstName': 'first_name', 'LastName': 'last_name', 'City': 'city', 'State': 'state'}, inplace=True)
df_costumers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  602 non-null    int64
 1   first_name   602 non-null    object
 2   last_name    602 non-null    object
 3   city         602 non-null    object
 4   state        602 non-null    object
dtypes: int64(1), object(4)
memory usage: 23.6+ KB

In [60]:
df_costumers = pd.read_csv('./sample_data/customers.csv')
df_costumers.head()
rows = len(df_costumers.axes[0])
print(f'\nThere are {rows} costumers in the file.')

There are 602 costumers in the file.

**Question 2:** In how many different states do the customers live in?

In [73]:
# open file and init vars
# evaluate the contents of the file
df_costumers['state'] = df_costumers['state'].str.strip().str.upper()
states_unique = df_costumers['state'].unique()
print(f'\nThere are {len(states_unique)} unique states in the file.')
print(states_unique)

There are 14 unique states in the file.
['CA' 'AZ' 'NV' 'FL' 'WA' 'NH' 'ID' 'CO' 'TX' 'NM' 'OR' 'UT' 'MA' 'IN']

**Question 3** What is the state with most customers?

In [74]:
# open file and init vars
# evaluate the contents of the file
count_state = df_costumers['state'].value_counts()
most_common_state = count_state.index[0]
print(f'\nThe state with most customers is {most_common_state} with {count_state.max()} customers.')
count_state

The state with most customers is CA with 569 customers.

state
CA    569
NV      8
AZ      6
FL      3
NM      3
CO      3
TX      2
UT      2
NH      1
WA      1
ID      1
OR      1
MA      1
IN      1
Name: count, dtype: int64

**Question 4** What is the state with the least customers?

In [75]:
# open file and init vars
# evaluate the contents of the file
count_state = df_costumers['state'].value_counts()
least_common_state = count_state[count_state == count_state.min()].index.tolist()
print(f'\nThe states with least customers are {least_common_state} with {count_state.min()} customer.')

The states with least customers are ['NH', 'WA', 'ID', 'OR', 'MA', 'IN'] with 1 customer.

**Question 5:** What is the most common last name?

In [76]:
# open file and init vars
# evaluate the contents of the file
df_costumers['last_name'] = df_costumers['last_name'].str.strip()
last_name_counts = df_costumers['last_name'].value_counts()
most_common_last_name = last_name_counts.index[0]
print(f'\nThe most common last name is {most_common_last_name} with {last_name_counts.max()} occurrences.')
print(f'\nAnd there are {len(last_name_counts)} unique last names in the file.')

The most common last name is Smith with 8 occurrences.

And there are 423 unique last names in the file.

# Exercise 2: Processing Orders data (difficulty high)

The second sample files contains orders placed by customers from the first file. Be careful, this file has many rows and you most likely should not print the contents of the whole file.

The file contains the following columns: CustomerID, OrderID, Date, OrderTotal, ProductName, Price

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/orders.png)

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, the data is not clean and you will have to figure out how to deal with that data from the code, without having to modify the data source.



**Question #1:** How many unique orders are in the orders.csv file?

**Question #2:** What is the average number of items per order (rounded to two decimal places)?

**Question #3:** What is the highest number of items per order?

**Question #4:** What is the number of orders placed in October 2021?

**Question #5:** Which customer spent the most amount of money in 2021?

**Question #6:** Historically, what is the best month for sales?

Once you get your answers, remember to go back to the course and introduce them in the multiple choice quiz

In [80]:
# open and evaluate orders.csv
df_orders = pd.read_csv('./sample_data/orders.csv')
print(df_orders.head())
df_orders.info()

   CustomerID  OrderID                     Date  OrderTotal ProductName  Price
0        8091  7742581  2021-07-26 14:40:10.783        95.0         Z03   90.0
1      902139  7742778  2021-08-08 05:01:21.120        60.0    0844 A/C   60.0
2     2300266  7742593  2021-07-27 11:00:16.020       185.0         M07   90.0
3     2300266  7742593  2021-07-27 11:00:16.020       185.0         M09   90.0
4     5173013  7742609  2021-07-28 14:26:13.930       165.0        0324  160.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29294 entries, 0 to 29293
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   29294 non-null  int64
 1   OrderID      29294 non-null  int64
 2   Date         27152 non-null  object
 3   OrderTotal   29294 non-null  float64
 4   ProductName  29294 non-null  object
 5   Price        29294 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.3+ MB

In [81]:
df_orders.rename(columns={'CustomerID': 'customer_id', 'OrderID': 'order_id', 'Date': 'date', 'OrderTotal': 'order_total', 'ProductName': 'product_name', 'Price': 'price'}, inplace=True)
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29294 entries, 0 to 29293
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   29294 non-null  int64
 1   order_id      29294 non-null  int64
 2   date          27152 non-null  object
 3   order_total   29294 non-null  float64
 4   product_name  29294 non-null  object
 5   price         29294 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.3+ MB

In [85]:
df_orders['date'] = pd.to_datetime(df_orders['date'])
df_orders['order_total'] = df_orders['order_total'].astype(int)
df_orders['price'] = df_orders['price'].astype(int)
df_orders.info()
df_orders.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29294 entries, 0 to 29293
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   29294 non-null  int64
 1   order_id      29294 non-null  int64
 2   date          27152 non-null  datetime64[ns]
 3   order_total   29294 non-null  int64
 4   product_name  29294 non-null  object
 5   price         29294 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 1.3+ MB

,customer_id,order_id,date,order_total,product_name,price
0,8091,7742581,2021-07-26 14:40:10.783,95,Z03,90
1,902139,7742778,2021-08-08 05:01:21.120,60,0844 A/C,60
2,2300266,7742593,2021-07-27 11:00:16.020,185,M07,90
3,2300266,7742593,2021-07-27 11:00:16.020,185,M09,90
4,5173013,7742609,2021-07-28 14:26:13.930,165,0324,160

## 1: How many unique orders are in the orders.csv file?

In [82]:
orders_unique = df_orders['order_id'].unique()
print(f'\nThere are {len(orders_unique)} unique orders in the file.')

There are 16672 unique orders in the file.

## 2: What is the average number of items per order (rounded to two decimal places)?

In [86]:
average_items_per_order = df_orders.groupby('order_id')['product_name'].count().mean()
print(f'\nThe average number of items per order is {average_items_per_order:.2f}.')

The average number of items per order is 1.76.

## 3: What is the highest number of items per order?

In [87]:
order_max_items = df_orders.groupby('order_id')['product_name'].count().max()
print(f'\nThe highest number of items per order is {order_max_items}.')

The highest number of items per order is 35.

## 4: What is the number of orders placed in October 2021?

In [93]:
orders_in_october_2021 = df_orders[(df_orders['date'].dt.year == 2021) & (df_orders['date'].dt.month == 10)]
print(f'\nThe number of orders in October 2021 is: {len(orders_in_october_2021)}.')

The number of orders in October 2021 is: 437.

## 5: Which customer spent the most amount of money in 2021?

In [117]:
df_merge = df_costumers.merge(df_orders, on='customer_id')
money_spent = df_orders[df_orders['date'].dt.year == 2021].groupby('customer_id')['order_total'].sum().sort_values(ascending=True)

most_money_spent_customer_id = money_spent.idxmax()
most_money_spent_amount = money_spent.max()

customer_info = df_costumers[df_costumers['customer_id'] == most_money_spent_customer_id].iloc[0]
customer_name = f"{customer_info['first_name']} {customer_info['last_name']}"

print(f'\nThe customer who spent the most money in 2021 is {customer_name} (customer ID: {most_money_spent_customer_id}) with ${most_money_spent_amount}.')


# Ther is an error in the question

The customer who spent the most money in 2021 is Juan Soto (customer ID: 5464) with $56170.

## 6: Historically, what is the best month for sales?

In [106]:
avg_monthly_sales = df_orders.groupby(df_orders['date'].dt.month)['order_total'].mean()
avg_best_month_number = avg_monthly_sales.idxmax()

sum_monthly_sales = df_orders.groupby(df_orders['date'].dt.month)['order_total'].sum()
sum_best_month_number = sum_monthly_sales.idxmax()

avg_best_month_name = pd.to_datetime(avg_best_month_number, format='%m').strftime('%B')
sum_best_month_name = pd.to_datetime(sum_best_month_number, format='%m').strftime('%B')
print(f'The best month for average sales is {avg_best_month_name}.')
print(f'\nThe best month for total sales is {sum_best_month_name}.')

The best month for average sales is February.

The best month for total sales is January.

# Finished!

Hope this was not too difficult and slicing and dicing the datasets was some fun. Now head on back to the course and provide the answers to the questions from this exercise.